
<h1 class="center">Nos films péférer</h1>

<div class="container">
  <div class="row">
    <div *ngFor="let film of filmList" class="col s12 m6">
      <div class="card horizantal">
        <div class="card-image">
          <img [src]="film.imageUrl"> 
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{film.title}}</p>
            <p><small>{{ film.created }}</small></p>
          </div>
         </div>   
      </div>
    </div>
  </div>
</div>


