<nav>
    <div class="nav-wrapper indigo" >
        <a href="#" class="brand-logo center">
            
        Movies App
    </a>
    </div>
</nav>

<nav id="rectangle">
    <div class="nav-wrapper blue">
    </div>
</nav>

<nav id="barre">
    <a  class="nav-item is-active" routerLink="/movies">Film</a>
    <a  class="nav-item is-active" routerLink="/series">Série</a>
    <a  class="nav-item is-active" routerLink="/genres">Game</a>
    <a  class="nav-item is-active" routerLink="/affiche">A l'affiche</a>
    <a  class="nav-item is-active" routerLink="/about" >About</a>
    <span class="nav-indicator"></span>
</nav>
<router-outlet> </router-outlet>
