<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Liste de films</h1>
<imput
  type="text"
  (click)="selectFilm($event)""
/>
<p (click)="selectFilm(filmList[0])"> {{filmList[0].title}}</p>
<p> {{filmList[1].title}} </p>
<p> {{filmList[2].title}} </p>
<p> {{filmList[3].title}} </p>
<p> {{filmList[4].title}} </p>
<p> {{filmList[5].title}} </p>

