<!DOCTYPE html">

<head>
    <style>
      h1{
        font-family: 'Times New Roman', Times, serif;
      }
      h2{
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
</head>

<nav id="intro">
    <div>  
        <img id="photo" src="https://www.helloasso.com/assets/img/photos/evenements/croppedimage-bc2429dc3a83444c8b76acf97d210df6.png" alt="isen"/>  
        </div>
</nav>  

<body>
  
    <div id="titre">
        <h1 style="text-align:center;">Qui sommes-nous ?</h1>
    </div>
   
    <a  class="button" routerLink="/estelle">Estelle</a>
    <a  class="button1" routerLink="/schems">Schems</a>
     
    <div id="texte">
        <h1 style="text-align:center;"><small><strong>Je m'appelle Estelle Guillaume</strong></small></h1>
        <p style="text-align:center;">Je suis en 4ème année d'école d'ingénieur en e-santé. J'ai 22 ans et nous avons construit cette page web dans l'optique d'un projet de fin de premier semestre 2023.</p>
    </div>
    <div id="contenu"><hr>
            <h2 style="text-align:center;">Et voici mon film préféré :</h2>
        </div>
        <p style="text-align:center;">Mon film préféré est <del>Titanic</del> <ins>Je suis une légende</ins>!</p>
        <p></p>
         
        <div id="contenu">
            <h2 style="text-align:center;">Comment avons-nous créé ce site ?</h2>
        </div>
    
    <nav>
      <ul class="bande">
        <li><a href="http://localhost:4200/about#ancre1">Etape n°1</a></li>
        <li><a href="http://localhost:4200/about#ancre2">Etape n°2</a></li>
        <li><a href="http://localhost:4200/about#ancre3">Etape n°3</a></li>
        <li><a href="http://localhost:4200/about#ancre4">Etape n°4</a></li>
        <li><a href="http://localhost:4200/about#ancre5">Etape n°5</a></li>
      </ul>
    </nav> 
    
  
    <div id="ancre1"><br><h2><li>Etape 1 : Section Film</li></h2></div>
    <p style="text-align:center;"> Cette section permet de regarder tous les films disponibles sur notre plateforme, il suffit de descendre la page et de cliquer sur le film que vous souhaitez regarder pour observer ses informations. Pour revenir en arrière rien de plus simple : cliquez sur "Movies App" ou sur "Back" </p><br>
    <div id="ancre2"></div><br><h2><li>Etape 2 : Section Série</li></h2>
    <p style="text-align:center;"> Cette section permet de regarder toutes les séries disponibles sur notre plateforme, il suffit de descendre la page et de cliquer sur la série que vous souhaitez regarder pour observer ses informations. Pour revenir en arrière rien de plus simple : cliquez sur "Movies App" ou sur "Back" </p><br>
    <div id="ancre3"></div><br><h2><li>Etape 3 : Section Game</li></h2>
    <p style="text-align:center;"> Cette section permet de regarder tous les jeux disponibles sur notre plateforme, il suffit de descendre la page et de cliquer sur le jeu que vous souhaitez pour observer ses informations. Pour revenir en arrière rien de plus simple : cliquez sur "Movies App" ou sur "Back" </p><br>
    <div id="ancre4"></div><br><h2><li>Etape 4 : Section A l'affiche</li></h2>
    <p style="text-align:center;"> Cette section permet de regarder tous les films et séries disponibles étant sorties le plus récemment sur notre plateforme, il suffit de descendre la page et de cliquer sur le film ou la série que vous souhaitez regarder pour observer ses informations. Pour revenir en arrière rien de plus simple : cliquez sur "Movies App" ou sur "Back" </p><br>
    <div id="ancre5"><br><h2><li>Etape 5 : Section About</li></h2></div>
    <p style="text-align:center;"> Cette section permet d'en apprendre plus sur les créateurs de ce film, et de comment utiliser ce site.<br> Notamment en choisissant quelle étape nous voulons lire en cliquant sur la barre adéquate, qui nous amènera à l'étape choisie</p>
  
    <div id="fin">
        <p style="text-align:center;">Merci d'avoir regardé notre site<br></p>
        <p style="text-align:center;">A bientôt !<br></p>
      </div>
  </body>
